.main-footer {
    background: saturate(lighten($brown, 20%), 10%);
    background-image: url('../../images/bg-pattern-03.png');
    background-position: center top;
    background-repeat: repeat;
    color: lighten($orange, 30%);
    font-size: 2rem;
    font-weight: $font-regular;
    padding: 12rem 8rem 4rem;
    text-align: center;

    @media (max-width: $screen-xs) {
        font-size: 1.5rem;
        padding: 6rem 2rem 2rem;
    }
}
