.section-links {
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.links {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
        display: inline;
        font-weight: $font-bold;
        margin: 0 2rem;
    }
}
