.table-skills {
    width: 100%;

    .level-10 {
        float: right;
    }

    tr {

        &:nth-child(even) {
            background: rgba($black, .05);
        }
    }

    th {
        font-size: 2rem;
        padding: 1rem 3rem;
    }

    td {
        padding: 3rem 3rem;
    }

    .skill-name {
        font-weight: $font-regular;
        padding-right: 4rem;
        text-align: right;
        white-space: nowrap;
    }

    .skill-level {
        padding-right: 6rem;
        width: 100%;

        .bar {
            background: linear-gradient(90deg, rgba($white, 0) 0%, rgba($white, 1) 100%);
            display: block;
            font-size: 0;
            height: 5 / 3 * 1rem;
            position: relative;
            transition: width 1s;
            width: 0;

            &:after {
                border: .5rem solid $white;
                border-radius: 50%;
                box-sizing: border-box;
                content: '';
                height: 3.5rem;
                position: absolute;
                right: -3rem;
                top: 50%;
                transform: translateY(-50%);
                width: 3.5rem;
            }
        }
    }
}
