// Colors
$white:             #fff;
$black:             #000;
$pink:              #fa78b8;
$orange:            #ff9b11;
$lightorange:       #ffc06a;
$purple:            #59425d;
$cream:             #fff2e1;

// Fonts
$font-primary:      'Galada', cursive;
$font-secondary:    'Raleway', sans-serif;

// Screen Widths
$screen-xs:         425px;
$screen-sm:         767px;
$screen-md:         991px;
$screen-lg:         1199px;
