html {
    font: 6px/1 $font-secondary;
    letter-spacing: 1px;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

body {
    background: $white;
    padding: 4rem;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;

    @media (max-width: $screen-xs) {
        padding: 2rem;
    }

    &:after {
        border: 4rem solid $white;
        box-shadow: 0 0 0 1rem rgba($black, .1) inset;
        box-sizing: border-box;
        bottom: 0;
        content: '';
        left: 0;
        pointer-events: none;
        position: fixed;
        right: 0;
        top: 0;

        @media (max-width: $screen-xs) {
            border-width: 2rem;
            box-shadow: 0 0 0 .5rem rgba($black, .1) inset;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

p,
li {
    line-height: 1.5;
    margin: 2rem 0 0;

    @media (max-width: $screen-xs) {
        margin-top: 1rem;
    }

    &:first-child {
        margin: 0;
    }
}

a {
    border-bottom: 1px solid;
    display: inline-block;
    opacity: 1;
    outline: none;
    text-decoration: none;
    transition: all .25s;

    &:hover,
    &:focus {

        @media (hover: hover) {
            transform: skewX(-15deg) translateX(3px);
        }
    }
}

button {
    background: none;
    border: 0 none;
    box-shadow: none;
    cursor: pointer;
    outline: none;
    padding: 0;
}

.sub-text {
    font-size: .8em;
}

.heading {
    color: $white;
    font-family: $font-primary;
    letter-spacing: 0;
    margin: 0 auto;
}

.btn-top {
    bottom: -7rem;
    font-size: 0;
    position: fixed;
    right: 8rem;
    transition: all .25s;
    z-index: 10;

    @media (max-width: $screen-xs) {
        right: 4rem;
    }

    &:hover,
    &:focus {

        @media (hover: hover) {
            transform: skewX(-15deg) translateX(5px);
        }
    }

    &.show {
        bottom: 4rem;

        @media (max-width: $screen-xs) {
            bottom: 2rem;
        }

        svg {
            @include filter-drop-shadow( -1rem -1rem 0 rgba($black, .1) );

            @media (max-width: $screen-xs) {
                @include filter-drop-shadow( -.5rem -.5rem 0 rgba($black, .1) );
            }
        }
    }
}

.hide-xs {

    @media (max-width: $screen-xs) {
        display: none !important;
    }
}

.sr-only {
    display: none;
}
