html {
    font: 6px/1 $font-secondary;
    letter-spacing: 1px;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

body {
    background: $white;
    padding: 4rem;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;

    @media (max-width: $screen-xs) {
        padding: 2rem;
    }

    &:after {
        border: 4rem solid $white;
        box-shadow: 0 0 0 1rem rgba($black, .1) inset;
        box-sizing: border-box;
        bottom: 0;
        content: '';
        left: 0;
        pointer-events: none;
        position: fixed;
        right: 0;
        top: 0;

        @media (max-width: $screen-xs) {
            border-width: 2rem;
            box-shadow: 0 0 0 .5rem rgba($black, .1) inset;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

p,
li {
    line-height: 1.5;
    margin: 2rem 0 0;

    @media (max-width: $screen-xs) {
        margin-top: 1rem;
    }

    &:first-child {
        margin: 0;
    }
}

a {
    border-bottom: 1px solid;
    display: inline-block;
    opacity: 1;
    outline: none;
    text-decoration: none;
    transition: all .25s;

    &:hover,
    &:focus {

        @media (hover: hover) {
            transform: skewX(-15deg) translateX(3px);
        }
    }
}

button {
    background: none;
    border: 0 none;
    box-shadow: none;
    cursor: pointer;
    outline: none;
    padding: 0;
}

.heading {
    color: $white;
    font-family: $font-primary;
    letter-spacing: 0;
    margin: 0 auto;
}

.section {
    font-size: 2.5rem;
    padding: 8rem 20%;
    text-align: left;

    @media (max-width: $screen-lg) {
        padding: 8rem 10%;
    }

    @media (max-width: $screen-xs) {
        font-size: 2.2rem;
        padding: 6rem 4rem;
    }

    .heading {
        font-size: 5rem;
        margin-bottom: 4rem;

        @media (max-width: $screen-xs) {
            font-size: 4rem;
            margin-bottom: 2rem;
            text-align: center;
        }
    }

    &--brown {
        background: $brown;
        color: $white;
        font-weight: $font-light;

        @media (max-width: $screen-xs) {
            font-weight: $font-regular;
        }

        .heading {
            color: lighten($pink, 10%);
        }

        a {
            border-color: lighten($pink, 40%);
            color: lighten($pink, 40%);
        }
    }

    &--cream {
        background: $cream;
        color: $black;
        font-weight: $font-regular;

        .heading {
            color: saturate(lighten($brown, 20%), 20%);
        }

        a {
            border-color: $brown;
            color: $brown;
        }
    }

    &--purple {
        background: $purple;
        color: $white;
        font-weight: $font-light;

        @media (max-width: $screen-xs) {
            font-weight: $font-regular;
        }

        .heading {
            color: lighten($orange, 15%);
        }

        a {
            border-color: lighten($orange, 40%);
            color: lighten($orange, 40%);
        }
    }

    &--mint {
        background: $mint;
        color: $white;
        font-weight: $font-light;

        @media (max-width: $screen-xs) {
            font-weight: $font-regular;
        }

        .heading {
            color: lighten($orange, 30%);
        }

        a {
            border-color: $white;
            color: $white;
        }
    }
}

.btn-top {
    bottom: 4rem;
    font-size: 0;
    position: fixed;
    right: 8rem;
    transition: all .25s;
    z-index: 10;

    &:hover,
    &:focus {

        @media (hover: hover) {
            transform: skewX(-15deg) translateX(5px);
        }
    }

    @media (max-width: $screen-xs) {
        bottom: 2rem;
        right: 4rem;
    }

    svg {
        -webkit-filter: drop-shadow( -1rem -1rem 0 rgba($black, .1) ); 
            filter: drop-shadow( -1rem -1rem 0 rgba($black, .1) );

        @media (max-width: $screen-xs) {
            -webkit-filter: drop-shadow( -.5rem -.5rem 0 rgba($black, .1) ); 
                filter: drop-shadow( -.5rem -.5rem 0 rgba($black, .1) );
        }
    }
}

.hide-xs {

    @media (max-width: $screen-xs) {
        display: none !important;
    }
}
