.section {
    font-size: 2.5rem;
    padding: 8rem 20%;
    text-align: left;

    @media (max-width: $screen-lg) {
        padding: 8rem 10%;
    }

    @media (max-width: $screen-xs) {
        font-size: 2.2rem;
        padding: 6rem 4rem;
    }

    .heading {
        font-size: 5rem;
        margin-bottom: 4rem;

        @media (max-width: $screen-xs) {
            font-size: 4rem;
            margin-bottom: 2rem;
            text-align: center;
        }
    }

    &--brown {
        background: $brown;
        color: $white;
        font-weight: $font-light;

        @media (max-width: $screen-xs) {
            font-weight: $font-regular;
        }

        .heading {
            color: lighten($pink, 10%);
        }

        a {
            border-color: lighten($pink, 40%);
            color: lighten($pink, 40%);
        }
    }

    &--cream {
        background: $cream;
        color: $black;
        font-weight: $font-regular;

        .heading {
            color: saturate(lighten($brown, 20%), 20%);
        }

        a {
            border-color: $brown;
            color: $brown;
        }
    }

    &--purple {
        background: $purple;
        color: $white;
        font-weight: $font-light;

        @media (max-width: $screen-xs) {
            font-weight: $font-regular;
        }

        .heading {
            color: lighten($orange, 15%);
        }

        a {
            border-color: lighten($orange, 40%);
            color: lighten($orange, 40%);
        }
    }

    &--mint {
        background: $mint;
        color: $white;
        font-weight: $font-light;

        @media (max-width: $screen-xs) {
            font-weight: $font-regular;
        }

        .heading {
            color: lighten($orange, 30%);
        }

        a {
            border-color: $white;
            color: $white;
        }
    }
}
