// Colors
$white:             #fff;
$black:             #000;
$pink:              #fa78b8;
$lightpink:         #ffa8d3;
$orange:            #ff9b11;
$lightorange:       #ffc06a;
$purple:            #59425d;
$cream:             #fff2e1;
$brown:             #a3785b;
$darkbrown:         #665046;
$mint:              #52bab0;
$paleyellow:        #fcf2b1;

// Fonts
$font-primary:      'Galada', cursive;
$font-secondary:    'Raleway', sans-serif;

$font-light:        300;
$font-regular:      500;
$font-bold:         700;

// Screen Widths
$screen-xs:         425px;
$screen-sm:         767px;
$screen-md:         991px;
$screen-lg:         1199px;
