// Colors
$white:             #fff;
$black:             #000;
$pink:              #fa78b8;
$orange:            #ff9b11;
$purple:            #59425d;
$cream:             #fff2e1;
$brown:             #665046;
$mint:              #52bab0;
$maroon:            #b31b1b;

$blue:              #082789;
$midnightblue:      #1c3570;
$mediumgray:        #777;
$lightgray:         #eee;
$darkblue:          #112;
$yellow:            #faea0b;
$lightblue:         #39b1e8;
$lightpurple:       #9058a2;

// Fonts
$font-primary:      'Galada', cursive;
$font-secondary:    'Raleway', sans-serif;

$font-light:        300;
$font-regular:      500;
$font-bold:         700;

// Screen Widths
$screen-xs:         460px;
$screen-sm:         767px;
$screen-md:         991px;
$screen-lg:         1199px;
